* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #123;
  --nav-bg: #234;
}

html {
  font-family: system-ui;
}

body {
  min-height: 200vh;
  font-size: 1.25rem;
  background-color: var(--body-bg);
  color: #fff;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 4rem;
}

nav {
  position: sticky;
  top: 0;
  max-height: 100svh;
  background-color: var(--nav-bg);
}

.nav-list {
  list-style: none;
  display: grid;
  gap: 4rem;
  padding-block: 2rem;
}

.nav-list li {
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
  view-transition-name: activeNavTab;
  background: var(--body-bg);
  position: relative;
}

.nav-list li:nth-child(1) a {
  view-transition-name: navLink-1;
}

.nav-list li:nth-child(2) a {
  view-transition-name: navLink-2;
}

.nav-list li:nth-child(3) a {
  view-transition-name: navLink-3;
}

::view-transition-group(activeNavTab) {
  animation-duration: 500ms;
}

.nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 2rem;

  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background-color: var(--nav-bg);
}

.nav-list li.active::before {
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px var(--body-bg);
}

.nav-list li.active::after {
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px var(--body-bg);
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  z-index: 10;
}