* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #123;
  --nav-bg: #234;
}

html {
  font-family: system-ui;
}

body {
  min-height: 200vh;
  font-size: 1.25rem;
  background-color: var(--body-bg);
  color: #fff;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
}

nav {
  position: sticky;
  top: 0;
  max-height: 100svh;
  background-color: var(--nav-bg);
}

.nav-list {
  list-style: none;
  display: grid;
  gap: 4rem;
  padding-block: 2rem;
  font-size: 2rem;
}

.nav-list li {
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
  background: var(--body-bg);
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}